@charset "UTF-8";
@font-face {
  font-family: "PPNeueMontreal-Medium";
  src: url(../font/PPNeueMontreal-Medium.eot);
  src: url(../font/PPNeueMontreal-Medium.eot?#iefix) format("embedded-opentype"), url(../font/PPNeueMontreal-Medium.svg#PPNeueMontreal-Medium) format("svg"), url(../font/PPNeueMontreal-Medium.otf) format("otf"), url(../font/PPNeueMontreal-Medium.ttf) format("truetype"), url(../font/PPNeueMontreal-Medium.woff) format("woff"), url(../font/PPNeueMontreal-Medium.woff2) format("woff2");
  font-weight: 530;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  font-family: "PPNeueMontreal-Medium", arial, sans-serif;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

.wrapper {
  position: relative;
}

.mobile {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 5.3333333333vw;
  padding-top: 37px;
  padding-bottom: 2.3125rem;
  font-size: max(1.4vw, 20px);
  line-height: 1.4285714286;
  color: #fff;
  z-index: 1000;
}
.header .link-logo svg {
  fill: #fff;
}
.header .gnb-list {
  display: flex;
  min-height: 0;
}
.header .gnb-item + li {
  margin-left: 50px;
}
.header .link-gnb {
  position: relative;
  display: inline-block;
}
.header .link-gnb::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transform: translateY(0.625rem) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .link-gnb:hover .link-default {
  opacity: 0;
  transform: translateY(-100%) translateZ(0);
}
.header .link-gnb:hover .link-hover {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0%) translateZ(0);
}
.header .link-gnb:hover::before {
  opacity: 1;
  transform: translateY(0) translateZ(0);
}
.header .link-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.header .link-default {
  display: block;
  transform: translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .link-hover {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .btn-area {
  display: flex;
  align-items: center;
}
.header .link-order {
  position: relative;
  padding: 1.0625rem 2.5625rem 1.1875rem;
  border-radius: 2.2vw;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .link-order::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  border-radius: 4vw;
  opacity: 0.15;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .link-order:hover {
  color: #000;
}
.header .link-order:hover::after {
  opacity: 1;
}
.header .pc {
  position: relative;
  z-index: 1;
}

.container {
  padding-top: 500px;
  background-color: #8E9194;
}