.container{
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
}
.sc-home{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: $color-gray1;
    padding: 0 5.3333333333vw;
    color: $color-white;
    overflow: hidden;
    .group-flex1{
        position: relative;
        @include grid-12;
        width: 100%;
        height: 100%;
        padding-top: 18vh;
    }
    .title-area{
        grid-column: auto/span 5;
        z-index: 6;
    }
    .home-logo-area{
        position: absolute;
        bottom: 5vh;
        left: 0;
        z-index: 4;
        width: 100%;
        svg{
            width: 100%;
            height: auto;
            fill: $color-white;
        }
    }
    .thumb-area{
        position: absolute;
        top: 18vh;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        pointer-events: none;
        img{
            position: absolute;
            left: 50%;
            top: 16.5vh;
            width: 39.4666666667vw;
            transform-origin: top;
            transform: translateX(-50%) scale(1) translateZ(0);
        }
    }
}
.sc-smart{
    width: 100%;
    max-width: 100%;
    margin-top: 7.1875rem;
    padding: 0 5.3333333333vw;
    overflow: clip;
    .group-flex2{
        @include grid-12;        
    }
    .desc-area{
        grid-column: auto/span 3;
    }
    .title-area{
        grid-column: auto/span 7;
        &.start-6{
            grid-column-start: 6;
        }
    }
    .group-flex3{
        margin-top: 6.25rem;
        margin-bottom: 4.8125rem;
    }
    .swiper-slide{
        width: calc(41.6666666667% - 0.75rem);
        margin-right: 1.5rem;
        img{
            width: 120%;
            height: 120%;
            right: auto;
            bottom: auto;
            left: -10%;
            top: -10%;
            border-radius: 0.5rem;    
        }
    }
    .group-flex4{
        @include grid-12;
    }
    .text-area{
        grid-column: auto/span 5;
        &.start-6{
            grid-column-start: 6;
        }
    }
    .text-box{
        & + div{
            margin-top: 4.375rem;
        }
    }
    .text{
        margin-top: 1.125rem;
        color: $color-gray1;
    }
}
.sc-product{
    width: 100%;
    max-width: 100%;
    margin-top: 20.1875rem;
    margin-bottom: 17.375rem;
    padding: 0 5.3333333333vw;
    overflow: clip;
    .group-flex2{
        @include grid-12;        
    }
    .desc-area{
        grid-column: auto/span 3;
    }
    .title-area{
        grid-column: auto/span 7;
        &.start-6{
            grid-column-start: 6;
        }
    }
    .group-flex5{
        margin-top: 5.125rem;
        @include grid-12;
        img{
            width: 110%;
            height: 110%;
            right: auto;
            bottom: auto;
            left: -5%;
            top: -5%;
            transform: translateZ(0);
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            cursor: none;
            border-radius: 0.5rem;
        }
    }
    .column-left{
        grid-column: auto/span 8;
        .thumb-box{
            display: block;
            width: 100%;
            overflow: clip;
            border-radius: 0.5rem;
            clip-path: inset(0);
            transition: clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            &:hover{
                -webkit-clip-path: inset(0.625rem round 1.25rem);
                clip-path: inset(0.625rem round 1.25rem);
                img{
                    transform: scale(1.05) translateZ(0);
                }
            }
        }
    }
    .info-box{
        display: flex;
        align-items: baseline;
        margin-top: 2rem;
    }
    .product-info{
        font-size: max(2.6666666667vw, 30px);
        line-height: 1.25;
    }
    .price{
        margin-left: 1.4375rem;
        font-size: max(1.4vw, 20px);
        line-height: 1.4285714286;
        color: $color-gray1;
    }
    .column-right{
        grid-column: auto/span 4;
    }

}
.sc-about{
    width: 100%;
    max-width: 100%;
    padding: 0 5.3333333333vw;
    margin-top: 11.125rem;
    margin-bottom: 6.875rem;
    @include grid-12;
    .column-left{
        grid-column: auto/span 6;
    }
    .thumb-box{
        display: block;
        width: 100%;
        overflow: clip;
        border-radius: 0.5rem;
        img{
            width: 110%;
            height: 110%;
        }
    }
    .column-right{
        grid-column: auto/span 4;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;  
        &.start-8{
            grid-column-start: 8;
        }
    }
    .desc-area{
        & > *{
            display: block;
        }
    }
    .title{
        margin-bottom: 1.125rem;
    }
    .desc{
        margin-bottom: 2.6875rem;
        color: $color-gray1;
    }
}
