.container{
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
}
.sc-home{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: $color-gray1;
    padding: 0 5.3333333333vw;
    color: $color-white;
    overflow: hidden;
    .group-wrap{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5rem;
        width: 100%;
        height: 100%;
        padding-top: 18vh;
    }
    .title-area{
        grid-column: auto/span 5;
        z-index: 6;
    }
    .home-logo-area{
        position: absolute;
        bottom: 5vh;
        left: 0;
        z-index: 4;
        width: 100%;
        svg{
            width: 100%;
            height: auto;
            fill: $color-white;
        }
    }
    .thumb-area{
        position: absolute;
        top: 18vh;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        pointer-events: none;
        img{
            position: absolute;
            left: 50%;
            top: 16.5vh;
            width: 39.4666666667vw;
            transform-origin: top;
            transform: translateX(-50%) scale(1) translateZ(0);
        }
    }
}
.sc-smart{
    width: 100%;
    max-width: 100%;
    margin-top: 7.1875rem;
    padding: 0 5.3333333333vw;
    overflow: clip;
    .group-flex2{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5rem;
        
    }
    .desc-area{
        grid-column: auto/span 3;
    }
    .title-area{
        grid-column: auto/span 7;
        &.start-6{
            grid-column-start: 6;
        }
    }
    .group-flex3{
        margin-top: 6.25rem;
        margin-bottom: 4.8125rem;
    }
    .swiper-slide{
        width: calc(41.6666666667% - 0.75rem);
        margin-right: 1.5rem;
        img{
            width: 120%;
            height: 120%;
            right: auto;
            bottom: auto;
            left: -10%;
            top: -10%;
            border-radius: 0.5rem;    
        }
    }
    .group-flex4{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5rem;
    }
    .text-area{
        grid-column: auto/span 5;
        &.start-6{
            grid-column-start: 6;
        }
    }
    .text-box{
        & + div{
            margin-top: 4.375rem;
        }
    }
    .text{
        margin-top: 1.125rem;
        color: $color-gray1;
    }
}